<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>IT Consulting</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.svg" />

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->
    <!-- Font CSS -->
    <style>
        @font-face {
            font-family: 'ClashDisplay';
            src: url(../assets/fonts/ClashDisplay-Variable.woff2) format('woff2-variations');
                font-weight: 100 900;
                font-style: normal;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="@@webRoot/assets/css/all.min.css" />
    <link rel="stylesheet" href="@@webRoot/assets/css/bootstrap.min.css" />

    <!-- Plugins CSS (All Plugins Files) -->
     
    <link rel="stylesheet" href="@@webRoot/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="@@webRoot/assets/css/slick.css" />
    <link rel="stylesheet" href="@@webRoot/assets/css/animate.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="@@webRoot/assets/css/style.css" />
    
</head>